---
layout: markdown_page
title: "Features by Capability"
description: "This page is meant to showcase the key features by tier and capability"
canonical_path: "/features/by-paid-tier/"
---
<% tier_names = ['Bronze / Starter','Silver / Premium','Gold / Ultimate'] %>

## Key Features by Tier and Capability
This page is meant to showcase the key features by [tier](/handbook/marketing/strategic-marketing/tiers/) and [capability](https://about.gitlab.com/company/pricing/#capabilities).
<% tier_names.each do |tier_name| %>
<%= "### #{tier_name}" %>
  <% data.pricing_capabilities.select{|capability| capability.tier == tier_name}.each do |capability|%>
<%= "#### #{capability.name} "%>
    <% capability.list.each do |feature| %>
<%= "  * #{feature} " %>
    <% end %>

  <% end %>

<% end %>

## Changes
This page displays content from [`pricing_capabilities.yml`](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/pricing_capabilities.yml), changes can be made by proposing adjustments to that file.
